{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 80,
  "semi": false,
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": ["clsx"]
}
