name: 'Code Quality Checks'

on:
  push:
    paths-ignore:
      - 'data/**'
      - 'public/**'

  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    branches:
      - main

permissions:
  contents: read

jobs:
  spelling:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: 'Run spelling check'
      uses: streetsidesoftware/cspell-action@v6
      with:
        incremental_files_only: false
